@use "./variables" as v;

/* General styles */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: v.$main-ff;
	font-weight: v.$main-fw;
	background-color: v.$main-color;
}

img {
	display: block;
	height: auto;
}

/* Sticky footer */

.site-main {
	flex-grow: 1;
}

.open .navigation {
	display: block;
}

.open .site-header__menu {
	background-image: url("../images/menuclose.svg");
	background-repeat: no-repeat;
	background-position: center;
}
