@use "../variables" as v;
@use "../mixins" as m;

.hero-about {
    padding-bottom: 120px;
}
.hero-about__wrapper {
    padding: 111px 24px 87px 24px;
    text-align: center;
    background-image: url("../../images/about-page/hero-about.png");
    background-size: 100% 100%;
}
.hero-about__title {
    @include m.default-text (24px, 24px, 900, 28px);
    color: v.$main-color;
    font-family: v.$main-ff;
    // font-size: 28px;
}
.hero-about__desc-wrapper {
    max-width: 279px;
    margin: 0 auto;
}
.hero-about__desc {
    @include m.default-text (0, 12px, 400, 25px,);
    font-family: v.$secondary-ff;
    color: v.$main-color;
    opacity: 0.8;
    // font-size: 15px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .hero-about__wrapper {
        background-image: url("../../images/about-page/hero-about@2x.png");
    }
} 

/* media 375px */
@include m.responsive(375px) {
    .hero-about__title {
        font-size: 28px;
    }
    .hero-about__desc {
        font-size: 15px;
    }
}
/* media min-550 to max-767 */
@include m.responsive(550px) {
    .hero-about {
        padding-top: 13px;
        padding-bottom: 144px;
    }
    .hero-about__wrapper {
        padding-top: 118px;
        padding-bottom: 118px;
        padding-left: 58px;
        text-align: left;
        background-image: url("../../images/about-page/hero-about-tablet.png");
    }
    .hero-about__title {
        font-size: 32px;
    }
    .hero-about__desc-wrapper {
        max-width: 330px;
        margin-left: 0;
    }
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        
        .hero-about__wrapper {
            background-image: ("../../images/about-page/hero-about-tablet@2x.png");
        }
    }
}
@include m.responsive(768px) {
    .hero-about__desc-wrapper {
        max-width: 398px;
        margin-left: 0;
    }
}
/* media 1024   */
@include m.responsive(1024px) {
    .hero-about__wrapper {
        padding: 137px 0 137px 85px;
        background-image: url("../../images/about-page/hero-about-desc.png");
    }
    .hero-about__title {
        font-size: 40px;
    }
    .hero-about__desc-wrapper {
        max-width: 445px;
    }
    .hero-about__desc {
        font-size: 16px;
    }

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        
        .hero-about__wrapper {
            background-image: url("../../images/about-page/hero-about-desc@2x.png");
        }
    }
}


